    {% extends 'cfp/base.html' %}
    {% load staticfiles %}
    {% load replace %}
    {% load humanize %}

    {% block meta %}
    <meta property="og:image" content="{{ 'http://'|add:request.get_host }}{{ event.image|replace_social_img }}" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Call For Papers">
    <meta property="og:url" content="{{ 'http://'|add:request.get_host|add:request.path }}">
    <meta property="og:title" content="{{ event.acronym }} - {{ event.title_event }}" />
    <meta property="og:description" content="{{ event.description|slice:'0:200' }}" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@CallForPapers">
    <meta name="twitter:title" content="{{ event.acronym }} - {{ event.title_event }}">
    <meta name="twitter:description" content="{{ event.description|slice:'0:200' }}">
    <meta name="twitter:image" content="{{ 'http://'|add:request.get_host }}{{ event.image|replace_social_img }}">

    <!-- Five Stars -->
    <script src="{% static 'cfp/js/starrr.js' %}"></script>


    {% endblock %}

    {% block banner %}
    <!--div class="box-cover" data-auto="app-basic-info" style="position: absolute;margin-bottom: 3.1669865643%;width: 100%;height: 280px;margin: 0;padding: 0;border: 0;font-size: 100%;/*! font: inherit; */vertical-align: baseline;">
        <div class="box-cover-image" style="position: relative;overflow: hidden;padding-bottom: 260px;height: 280px;background: #a5abab;">
            <canvas class="box-cover-canvas js-app-cover" data-auto="app-canvas-cover" data-background-url="//cdn.appcrawlr.com/imageService/aHR0cDovL2lzNC5tenN0YXRpYy5jb20vaW1hZ2UvdGh1bWIvUHVycGxlNzEvdjQvMjIvNWIvMmIvMjI1YjJiNjktNzVmMi0zZTU2LTFiZWItOWIxZDc0ZWFmZmZjL3NvdXJjZS8xMDB4MTAwYmIuanBn?w=150&amp;h=150" style="/*! position: relative; *//*! overflow: hidden; *//*! padding-bottom: 260px; *//*! height: 0; *//*! background: #a5abab; */"></canvas>
        </div>
    </div-->
    {% endblock %}

    {% block content %}
    <!--div class="row" style="margin-top: 20px;">
        <a class="btn btn-default btn-lg" href="#" onclick="window.history.back();" role="button"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </div-->
    <div class="row">
        <div class="col-md-12">
            <div id="{{ event.id }}" class="row event-header">
                <div class="col-md-2 event-header-image"><img src="{{ event.image|replace_social_img }}"></div>
                <div class="col-md-5 event-header-title">
                    <h4>{{ event.acronym }} : {{ event.title_event }}</h4>
                    <p>{{ event.description|slice:":150" }} &nbsp;&nbsp;<a href="#event-body"><b>Read more +</b></a></p>
                    <p style="padding: 10px 0;">Website:&nbsp;<b><a href="{{ event.event_url }}">{{ event.event_url }}</a></b></p>
                    <div class='rating'>
                        {% for i in "12345" %}
                        {% if forloop.counter <= num_stars %}
                        <i class="fa fa-star"></i>
                        {% else %}
                        <i class="fa fa-star-o"></i>
                        {% endif %}
                        {% endfor %}
                        <a href="#reviews-header" class="reviews">{{ num_reviews|intcomma }} Reviews</a>
                    </div>
                </div>
            <div class="col-md-3 event-header-buttons">
                {% if favorite %}
                <button id="follow" type="button" class="btn btn-info active">Following</button>
                <div class="checkbox">
                    <label>
                        {% if favorite.notify == 1 %}
                        <input type="checkbox" checked> I would like to receive emails of the important dates from this event.
                        {% else %}
                        <input type="checkbox"> I would like to receive emails of the important dates from this event.
                        {% endif %}
                    </label>
                </div>
                {% else %}
                <button id="follow" type="button" class="btn btn-default btn-lg">Follow</button>
                <div class="checkbox" style="display: none;">
                    <label>
                        <input type="checkbox" checked> I would like to receive emails of the important dates from this event.
                    </label>
                </div>
                {% endif %}
                <footer>FOLLOWERS: <b class="followers">{{ num_followers|intcomma }}</b></footer>
            </div>
            <div class="col-md-2 event-header-ranking">
                <div class="row">
                    <div class="col-md-12 ranking">
                        <div class="col-md-12 qualis">B1</div>
                        <div class="col-md-12 qualis-label">Qualis</div>
                    </div>
                    <div class="col-md-12 ranking">
                        <div class="col-md-12 core">A*</div>
                        <div class="col-md-12 core-label">Core</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 categories">
                <div class="tags">
                    <b>Categories:</b>
                    {% for category in event.categories|split %}
                        <a href="#" class="btn-info">{{ category }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
    </div>
    <div id="event-body" class="row event-body">
        <div class="col-md-4">
            <div class="row event-dates">
                <div class="col-md-12">
                <table>
                <tr>
                    <td><b>Submission Deadline</b>:&nbsp;</td>
                    <td>{{ event.submission_deadline|date:"M. d, Y" }}</td>
                </tr>
                <tr>
                    <td><b>Author Notification</b>:&nbsp;</td>
                    <td>{{ event.notification_date|date:"M. d, Y" }}</td>
                </tr>
                <tr>
                    <td><b>Camera-ready</b>:&nbsp;</td>
                    <td>{{ event.camera_ready|date:"M. d, Y" }}</td>
                </tr>
                <tr>
                    <td><b>Event date</b>:&nbsp;</td>
                    <td>{{ event.start_date|date:"M. d, Y" }} - {{ event.end_date|date:"M. d, Y" }}</td>
                </tr>
                <tr>
                    <td><b>Location</b>:&nbsp;</td>
                    <td>{{ event.city }}, {{ event.country }}</td>
                </tr>
                </table>
                <hr>
                <div id="map"></div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row event-description">
                <div class="col-md-12">
                    {{ event.description }}
                </div>
            </div>
        </div>
    </div>
    <div class="row event-reviews">
        <div class="col-md-8">
            <h4 id="reviews-header"><b>Reviews</b></h4>
            <table class="table">
                <theader>
                    <tr>
                        <td align="center"><a href="#" class="write">Write a review</a></td>
                    </tr>
                </theader>
                <tbody id="write-review" style="display: none;">
                <tr>
                    <td>
                        <form accept-charset="UTF-8" action="" method="POST" id="review">
                            <input id="ratings-hidden" name="rating" value="0" type="hidden">
                            <textarea class="form-control animated" cols="150" id="new-review" name="comment" placeholder="Enter your review here..." rows="5" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 100px;"></textarea>

                            <div class="text-right">
                                <span id="helpBlock" class="text-danger help-block"></span>
                                <div class="stars starrr" data-rating="0"></div><br>
                                <a id="write-cancel" href="#" style="margin: 0 15px;">Cancel</a>
                                <button class="btn btn-info btn-lg" type="submit">Save</button>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table" id="reviews">
                <tbody>
                {% for review in reviews %}
                <tr data-page="1">
                    <td>
                        <h5><b>{{ review.user_name }}</b></h5>
                        <div class='rating'>
                            {% for i in "12345" %}
                            {% if forloop.counter <= review.stars %}
                            <i class="fa fa-star"></i>
                            {% else %}
                            <i class="fa fa-star-o"></i>
                            {% endif %}
                            {% endfor %}
                            <span class="reviews">{{ review.date|pretty_date }}</span>
                        </div>
                        <p>{{ review.text }}</p>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                {% if has_next %}
                <tfoot><tr><td align="right"><a href="#" id="seemore" class="seemore">See more</a></td></tr></tfoot>
                {% endif %}
            </table>
        </div>
        <div class="col-md-4">
            <h4>Similar Events:</h4>
            <table class="table">
                <theader>
                    <tr>
                        <td></td>
                    </tr>
                </theader>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade bs-example-modal-sm modal-hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Log in</h4>
                </div>
                <div class="modal-body">
                    <link rel="stylesheet" type="text/css" href="{% static 'cfp/css/login.css' %}" />
                    <form class="form-signin" action="{% url 'cfp:login' %}" method="POST" style="margin: 0px;">
                        {% csrf_token %}
                        {% if login_error %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{login_error}}
                        </div>
                        {% endif %}
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input id="inputEmail" name="email" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input id="inputPassword" name="password" class="form-control" placeholder="Password" required="" type="password">
                        <div class="checkbox">
                          <label>
                            <a href="#">Forgot your password?</a>
                          </label>
                        </div>
                        <input type="hidden" name="next" value="{{ request.get_full_path }}"/>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                    </form>
                </div>
                <div class="modal-footer">
                <a href="/cfp/signup" class="" role="button">Register</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('textarea').val('')
            $('#follow').on('click', '', function(event){
                f = $(this)
                e = $('.event-header').attr('id')
                a = 0
                if (f.hasClass('btn-default')) { a = 1 }
                $.ajax({
                    url: "/cfp/favorite",
                    type: "POST",
                    cache: false,
                    data: {'d':e,'s':a},
                    success: function(response) {
                        if (response['status'] == '200') {
                            f.exchangeClass('btn-info', 'btn-default');
                            if (f.hasClass('btn-info')) {
                                f.addClass('active');
                                f.text('Following');
                                $('.checkbox').show()
                            } else {
                                f.removeClass('active');
                                f.text('Follow');
                                $('.checkbox').hide()
                            }
                            $('.followers').text(response['num_followers'])
                        }
                        if (response.not_authenticated) {
                            $('#myModal').modal({'show': true});
                        }
                    }
                });
            });

            $('.checkbox').on('click', '', function(event) {
                e = $('.event-header').attr('id');
                a = $(this).find('input').is(":checked");
                $.ajax({
                    url: "/cfp/notification/active",
                    type: "POST",
                    cache: false,
                    data: {'d':e,'s':a},
                    success: function(response) {
                        if (response.not_authenticated) {
                            $('#myModal').modal({'show': true});
                        }
                    }
                });
            });
            $('.starrr').starrr();
            $('.starrr').on('starrr:change', function(e, value){
                if (value) {
                    $('#ratings-hidden').val(value);
                } else {
                    $('#ratings-hidden').val(0);
                }
            });
            $('form#review').on('click', 'button[type=submit]', function(e) {
                if($('textarea').val() == '') {
                    e.preventDefault();
                    $('#helpBlock').text('Write a review.')
                    return;
                }
                if($('input#ratings-hidden').val() == 0) {
                    e.preventDefault();
                    $('#helpBlock').text('Rate 5 stars.')
                    return;
                }
                e.preventDefault();
                e = $('.event-header').attr('id');
                s = $('input#ratings-hidden').val()
                r = $('textarea').val()
                $.ajax({
                    url: "/cfp/event/review/new",
                    type: "POST",
                    cache: false,
                    data: {'e':e,'s':s,'r':r},
                    success: function(response) {
                        if (response['status'] == '200') {
                            html = "<tr data-page='0'><td><h5><b>{{ user.first_name }}</b></h5><div class='rating'>"
                            for (i=1; i<=s; i++) { html = html + "<i class='fa fa-star'></i>" }
                            for (i=1; i<=5-s; i++) { html = html + "<i class='fa fa-star-o'></i>" }
                            html = html + "<span class='reviews'>just now</span>"+
                            "</div><p>"+r+"</p></td></tr>"
                            $('#reviews>tbody').prepend(html)
                            $('#write-review').hide()
                            $('.write').show()
                            $('input#ratings-hidden').val(0)
                            $('textarea').val('')
                            $($('.stars').find('a')[s-1]).trigger('click');
                            $('#helpBlock').text('')
                        }
                        if (response.not_authenticated) {
                            $('#myModal').modal({'show': true});
                        }
                    }
                });
            });
            $('.write').on('click', '', function(e) {
                e.preventDefault();
                $('#write-review').show()
                $(this).hide()
            });
            $('#write-cancel').on('click', '', function(e) {
                e.preventDefault();
                $('#write-review').hide()
                $('.write').show()
            });
            $('#seemore').on('click', '', function(e) {
                e.preventDefault();
                p = $('#reviews>tbody>tr:last').data('page')+1;
                i = $("#reviews>tbody>tr[data-page='0']").length;
                e = $('.event-header').attr('id');
                $.ajax({
                    url: "/cfp/event/review/",
                    type: "GET",
                    cache: false,
                    data: {'e':e,'p':p,'i':i},
                    success: function(response) {
                        $('#reviews>tbody').append(response)
                        if ($('#reviews>tbody>tr:last').data('next') == 'False') {
                            $('#seemore').hide()
                        }
                    }
                });
            });
        });
    </script>
    <script type="text/javascript">
    function geocodeAddress(geocoder, resultsMap) {
        var address = '{{ event.city }}, {{event.country}}';
        geocoder.geocode({'address': address}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            scrollwheel: false,
            zoom: 10,
            streetViewControl: false,
            mapTypeControlOptions: {
                mapTypeIds: []
            }
        });

        var geocoder = new google.maps.Geocoder();
        geocodeAddress(geocoder, map);
    }
    </script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwl1DxQRi3bpgF6DXxKTlvqXRBhdYelDM&callback=initMap" async defer></script>
    {% endblock %}