    {% extends 'cfp/base.html' %}
    {% load staticfiles %}

    {% block banner %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <!--div class="jumbotron">
      <div class="container">
        <center><h3 class="phrase">Publish your research in a conference or journal.</h3></center>
      </div>
    </div-->
    <br>
    <br>
    {% endblock %}

    {% block content %}
      <!-- Example row of columns -->
      <!--div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li role="presentation" class="cat active"><a href="#">All</a></li>
            <li role="presentation" class="cat"><a href="#">Machine Learning</a></li>
            <li role="presentation" class="cat"><a href="#">Software Engineering</a></li>
            <li role="presentation" class="cat"><a href="#">Data Maning</a></li>
            <li role="presentation" class="cat"><a href="#">NLP</a></li>
            <li role="presentation" class="cat"><a href="#">Cloud Computing</a></li>
            <li role="presentation" class="cat"><a href="#">Security</a></li>
            <li role="presentation" class="cat"><a href="#">Network & Comunication</a></li>
          </ul>
          <hr>
        </div>
      </div-->
      <div class="row">
        {% for event in events %}
        <div class="col-md-6">
          <div class="featured-article">
    				<a href="/cfp/event/{{ event.acronym|lower }}">
    					<img src="/static/cfp/img/{{ event.location|lower|cut:" " }}.png" alt="" class="thumb">
    				</a>
    				<div class="block-title">
              <a href="/cfp/event/{{ event.acronym|lower }}">
      					<h5>{{ event.acronym }} - {{ event.title_event }}</h5>
      					<p class="by-author"><small>Deadline: {{ event.submission_deadline|date:"M. d, Y" }}</small></p>
              </a>
    				</div>
            <div class="block-location">
              <a href="/cfp/event/{{ event.acronym|lower }}">
      				  <h1>{{ event.location }}</h1>
              </a>
              <p><small></small></p>
    				</div>
    			</div>
        </div>
        {% endfor %}
        <nav>
        <ul class="pager">
            {% if events.has_previous %}
            <li class="previous"><a href="?page={{ events.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
            {% endif %}
            {% if events.has_next %}
            <li class="next"><a href="?page={{ events.next_page_number }}">Next <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
        </ul>
        </nav>
        <!--div class="col-md-6">
          <div class="featured-article">
    				<a href="#">
    					<img src="{% static 'cfp/img/berlin-germany.png' %}" alt="" class="thumb">
    				</a>
    				<div class="block-title">
              <a href="#">
      					<h5>IJBES - International journal of Biomedical Engineering and Science</h5>
      					<p class="by-author"><small>Deadline: 2017-01-21</small></p>
              </a>
    				</div>
            <div class="block-location">
              <a href="#">
      				  <h1>Berlin</h1>
              </a>
              <p><small>Germany</small></p>
    				</div>
    			</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="featured-article">
    				<a href="#">
    					<img src="{% static 'cfp/img/paris-france.png' %}" alt="" class="thumb">
    				</a>
    				<div class="block-title">
              <a href="#">
      					<h5>AEIJ - Advanced Energy: An International Journal</h5>
      					<p class="by-author"><small>Deadline: 2017-01-21</small></p>
              </a>
    				</div>
            <div class="block-location">
              <a href="#">
      				  <h1>Paris</h1>
              </a>
              <p><small>France</small></p>
    				</div>
    			</div>
        </div>
        <div class="col-md-6">
          <div class="featured-article">
    				<a href="#">
    					<img src="{% static 'cfp/img/buenosaires-argentina.png' %}" alt="" class="thumb">
    				</a>
    				<div class="block-title">
              <a href="#">
      					<h5>IJCNC - International Journal of Computer Networks & Communications</h5>
      					<p class="by-author"><small>Deadline: 2017-01-21</small></p>
              </a>
    				</div>
            <div class="block-location">
              <a href="#">
      				  <h1>Buenos Aires</h1>
      				</a>
              <p><small>Argentina</small></p>
    				</div>
    			</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="featured-article">
    				<a href="#">
    					<img src="{% static 'cfp/img/uppsala-sweden.png' %}" alt="" class="thumb">
    				</a>
    				<div class="block-title">
              <a href="#">
      					<h5>MBT - 11th International Workshop on Model-Based Testing</h5>
      					<p class="by-author"><small>Deadline: 2017-01-23</small></p>
              </a>
    				</div>
            <div class="block-location">
              <a href="#">
      				  <h1>Uppsala</h1>
              </a>
              <p><small>Sweden</small></p>
    				</div>
    			</div>
        </div>
        <div class="col-md-6">
          <div class="featured-article">
    				<a href="#">
    					<img src="{% static 'cfp/img/sydney-australy.png' %}" alt="" class="thumb">
    				</a>
    				<div class="block-title">
              <a href="#">
      					<h5>ITCS - Sixth International Conference on Information Technology Convergence and Services</h5>
      					<p class="by-author"><small>Deadline: 2017-01-24</small></p>
              </a>
    				</div>
            <div class="block-location">
              <a href="#">
      				  <h1>Sydney</h1>
              </a>
              <p><small>Australia</small></p>
    				</div>
    			</div>
        </div-->
      </div>
    {% endblock %}