    {% extends 'cfp/base.html' %}
    {% load staticfiles %}

    {% block banner %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <!--div class="jumbotron">
      <div class="container">
        <center><h3 class="phrase">Publish your research in a conference or journal.</h3></center>
      </div>
    </div-->
    {% endblock %}

    {% block content %}
      <!-- Example row of columns -->
      <!--div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li role="presentation" class="cat active"><a href="#">All</a></li>
            <li role="presentation" class="cat"><a href="#">Machine Learning</a></li>
            <li role="presentation" class="cat"><a href="#">Software Engineering</a></li>
            <li role="presentation" class="cat"><a href="#">Data Maning</a></li>
            <li role="presentation" class="cat"><a href="#">NLP</a></li>
            <li role="presentation" class="cat"><a href="#">Cloud Computing</a></li>
            <li role="presentation" class="cat"><a href="#">Security</a></li>
            <li role="presentation" class="cat"><a href="#">Network & Comunication</a></li>
          </ul>
          <hr>
        </div>
      </div-->
      <div class="row">
        <div class="col-md-6">
          <div class="featured-article">
    				<a href="#">
    					<img src="{% static 'cfp/img/lisbon-portugal.png' %}" alt="" class="thumb">
    				</a>
    				<div class="block-title">
              <a href="#">
      					<h5>ACII - Advanced Computational Intelligence: An International Journal</h5>
      					<p class="by-author"><small>Deadline: 2017-01-21</small></p>
              </a>
    				</div>
            <div class="block-location">
              <a href="#">
      				  <h1>Lisbon</h1>
              </a>
              <p><small>Portugal</small></p>
    				</div>
    			</div>
        </div>
        <div class="col-md-6">
          <div class="featured-article">
    				<a href="#">
    					<img src="{% static 'cfp/img/berlin-germany.png' %}" alt="" class="thumb">
    				</a>
    				<div class="block-title">
              <a href="#">
      					<h5>IJBES - International journal of Biomedical Engineering and Science</h5>
      					<p class="by-author"><small>Deadline: 2017-01-21</small></p>
              </a>
    				</div>
            <div class="block-location">
              <a href="#">
      				  <h1>Berlin</h1>
              </a>
              <p><small>Germany</small></p>
    				</div>
    			</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="featured-article">
    				<a href="#">
    					<img src="{% static 'cfp/img/paris-france.png' %}" alt="" class="thumb">
    				</a>
    				<div class="block-title">
              <a href="#">
      					<h5>AEIJ - Advanced Energy: An International Journal</h5>
      					<p class="by-author"><small>Deadline: 2017-01-21</small></p>
              </a>
    				</div>
            <div class="block-location">
              <a href="#">
      				  <h1>Paris</h1>
              </a>
              <p><small>France</small></p>
    				</div>
    			</div>
        </div>
        <div class="col-md-6">
          <div class="featured-article">
    				<a href="#">
    					<img src="{% static 'cfp/img/buenosaires-argentina.png' %}" alt="" class="thumb">
    				</a>
    				<div class="block-title">
              <a href="#">
      					<h5>IJCNC - International Journal of Computer Networks & Communications</h5>
      					<p class="by-author"><small>Deadline: 2017-01-21</small></p>
              </a>
    				</div>
            <div class="block-location">
              <a href="#">
      				  <h1>Buenos Aires</h1>
      				</a>
              <p><small>Argentina</small></p>
    				</div>
    			</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="featured-article">
    				<a href="#">
    					<img src="{% static 'cfp/img/uppsala-sweden.png' %}" alt="" class="thumb">
    				</a>
    				<div class="block-title">
              <a href="#">
      					<h5>MBT - 11th International Workshop on Model-Based Testing</h5>
      					<p class="by-author"><small>Deadline: 2017-01-23</small></p>
              </a>
    				</div>
            <div class="block-location">
              <a href="#">
      				  <h1>Uppsala</h1>
              </a>
              <p><small>Sweden</small></p>
    				</div>
    			</div>
        </div>
        <div class="col-md-6">
          <div class="featured-article">
    				<a href="#">
    					<img src="{% static 'cfp/img/sydney-australy.png' %}" alt="" class="thumb">
    				</a>
    				<div class="block-title">
              <a href="#">
      					<h5>ITCS - Sixth International Conference on Information Technology Convergence and Services</h5>
      					<p class="by-author"><small>Deadline: 2017-01-24</small></p>
              </a>
    				</div>
            <div class="block-location">
              <a href="#">
      				  <h1>Sydney</h1>
              </a>
              <p><small>Australia</small></p>
    				</div>
    			</div>
        </div>
      </div>
    {% endblock %}