    {% extends 'cfp/base.html' %}
    {% load staticfiles %}

    {% block banner %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <!--div class="jumbotron">
      <div class="container">
        <center><h3 class="phrase">Publish your research in a conference or journal.</h3></center>
      </div>
    </div-->
    <br>
    <br>
    {% endblock %}

    {% block content %}
      <!-- Example row of columns -->
      <!--div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li role="presentation" class="cat active"><a href="#">All</a></li>
            <li role="presentation" class="cat"><a href="#">Machine Learning</a></li>
            <li role="presentation" class="cat"><a href="#">Software Engineering</a></li>
            <li role="presentation" class="cat"><a href="#">Data Mining</a></li>
            <li role="presentation" class="cat"><a href="#">NLP</a></li>
            <li role="presentation" class="cat"><a href="#">Cloud Computing</a></li>
            <li role="presentation" class="cat"><a href="#">Security</a></li>
            <li role="presentation" class="cat"><a href="#">Network & Communication</a></li>
          </ul>
          <hr>
        </div>
      </div-->
    <nav>
        <ul class="pager">
            {% if events.has_previous %}
            <li class="previous"><a href="?page={{ events.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
            {% endif %}
            {% if events.has_next %}
            <li class="next"><a href="?page={{ events.next_page_number }}">Next <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
        </ul>
        </nav>
      <div class="row">
        {% for event in events %}
        <div class="col-md-6">
          <div class="featured-article" id="{{ event.id }}">
    				<a href="/cfp/event/{{ event.id }}">
    					<img src="{{ event.image }}" alt="" class="thumb">
    				</a>
    				<div class="block-title">
                        <div class="col-md-11" style="width: 94.6667%; padding-right: 0;">
                            <a href="/cfp/event/{{ event.id }}">
      					<h5>{{ event.acronym }} - {{ event.title_event }}</h5>
      					<p class="by-author"><small>Deadline: {{ event.submission_deadline|date:"M. d, Y" }}</small></p>
                            </a>
                        </div>
                        <div class="col-md-1" style="width: 5.33333%; padding-left: 0; padding-right: 0;">
                          <a class="favorite">
                              {% if event.id in favorites %}
                              <span style="font-size: 28px; color: #fff;" class="fa fa-star"></span>
                              {% else %}
                              <span style="font-size: 28px; color: #fff;" class="fa fa-star-o"></span>
                              {% endif %}
                          </a>
                        </div>
    				</div>
            <div class="block-location">
              <a href="/cfp/event/{{ event.id }}">
      				  <h1>{{ event.city }}, {{ event.country }}</h1>
              </a>
              <p><small></small></p>
    				</div>
    			</div>
        </div>
        {% endfor %}
        <nav>
        <ul class="pager">
            {% if events.has_previous %}
            <li class="previous"><a href="?page={{ events.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
            {% endif %}
            {% if events.has_next %}
            <li class="next"><a href="?page={{ events.next_page_number }}">Next <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
        </ul>
        </nav>
      </div>
      <!-- Modal -->
        <div class="modal fade bs-example-modal-sm modal-hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Log in</h4>
              </div>
              <div class="modal-body">
              <link rel="stylesheet" type="text/css" href="{% static 'cfp/css/login.css' %}" />
                <form class="form-signin" action="{% url 'cfp:login' %}" method="POST" style="margin: 0px;">
                    {% csrf_token %}
                    {% if login_error %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{login_error}}
                    </div>
                    {% endif %}
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input id="inputEmail" name="email" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input id="inputPassword" name="password" class="form-control" placeholder="Password" required="" type="password">
                    <div class="checkbox">
                      <label>
                        <a href="#">Forgot your password?</a>
                      </label>
                    </div>
                    {% if next %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                    {% endif %}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                </form>
              </div>
              <div class="modal-footer">
                <a href="/cfp/signup" class="" role="button">Register</a>
              </div>
            </div>
          </div>
        </div>
      <script type="text/javascript">
      $(document).ready(function() {
        $('a.favorite').on('click', '', function(event){
            e = $(this).parents('div.featured-article').attr('id')
            s = $(this).find('span')
            f = 0
            if (s.hasClass('fa-star-o')) {
                f = 1
            }
            $.ajax({
                url: "/cfp/favorite",
                type: "POST",
                cache: false,
                data: {'d':e,'s':f},
                success: function(response) {
                    if (response['status'] == '200') {
                        s.exchangeClass('fa-star-o', 'fa-star')
                    }
                    if (response.not_authenticated) {
                        console.log('text')
                        $('#myModal').modal({'show': true})
                    }
                }
            });
        });
      });
      </script>
    {% endblock %}