    {% extends 'cfp/base.html' %}
    {% load staticfiles %}

    {% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'cfp/css/login.css' %}" />
    <form class="form-signin" action="{% url 'cfp:login' %}" method="POST">
        <h2 class="form-signin-heading">Log in</h2>
        <hr>
        {% csrf_token %}
        {% if login_error %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{login_error}}
        </div>
        {% endif %}
        <label for="inputEmail" class="sr-only">Email address</label>
        <input id="inputEmail" name="email" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
        <label for="inputPassword" class="sr-only">Password</label>
        <input id="inputPassword" name="password" class="form-control" placeholder="Password" required="" type="password">
        <div class="checkbox">
          <label>
            <a href="#">Forgot your password?</a>
          </label>
        </div>
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}"/>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
      <!--link rel="stylesheet" type="text/css" href="{% static 'cfp/css/login.css' %}" />
      <div class="row">
        <div class="col-md-12">
        <form class="form-signin" action="{% url 'cfp:login' %}" method="POST">
            <h2 class="form-signin-heading">Please sign in</h2>
            {% csrf_token %}
            {% if login_error %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{login_error}}
            </div>
            {% endif %}
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}"/>
            {% endif %}
            <label for="username" class="sr-only">Username</label>
            <input id="username" name="username" class="form-control input" placeholder="Username" required="" autofocus="" type="text">
            <label for="password" class="sr-only">Password</label>
            <input id="password" name="password" class="form-control input" placeholder="Password" required="" type="password">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <br>
        </form>
        </div>
      </div-->
    {% endblock %}