<table style="background-color:#f8f8f8;font-family:&quot;Open Sans&quot;,&quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif"
       cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tbody>
    <tr>
        <td style="padding-top:30px" align="center" valign="top">
            <div class="m_-6551682295176223982preheaderContent"
                 style="display:none;font-size:1px;color:#3e3e3e;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">
                Most Popular &amp; Starting Soon!
            </div>
            <table class="m_-6551682295176223982email-container" style="border:1px #f2f2f2 solid" cellspacing="0"
                   cellpadding="0" width="600">
                <tbody>
                <tr>
                    <td style="background-color:#ffffff;border:1px solid #f2f2f2" valign="top">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                            <tr>
                                <td class="m_-6551682295176223982stack-column-center" align="left" valign="middle"><a
                                        href="https://eventing.coursera.org/redirectSigned/eyJrZXkiOiJlbWFpbC5saW5rLm9wZW4iLCJ2YWx1ZSI6eyJ1cmwiOiJodHRwczovL3d3dy5jb3Vyc2VyYS5vcmcvP3V0bV9tZWRpdW09ZW1haWwmdXRtX3NvdXJjZT1yZWNvbW1lbmRhdGlvbnMmdXRtX2NhbXBhaWduPXJlY29tbWVuZGF0aW9uc0VtYWlsJTdFcmVjc19lbWFpbF8yMDE3XzAxXzI5XzE3JTNBMzIiLCJ0cmFja2luZyI6eyJ1c2VySWQiOjI1MjMxLCJ1c2VyRW1haWwiOiJqemVsYXJAZ21haWwuY29tIiwibm90aWZpY2F0aW9uVHlwZSI6InJlY29tbWVuZGF0aW9uLmZvcl95b3UiLCJjYW1wYWlnbklkIjoicmVjc19lbWFpbF8yMDE3XzAxXzI5XzE3OjMyIiwiY2FtcGFpZ25Hcm91cCI6InJlY29tbWVuZGF0aW9uc0VtYWlsIn19LCJ1c2VySWQiOjI1MjMxfQ.n1ZzRiF7cboHpHjpdjsL2GFqj4W89PonQ8j8snnHZLo"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://eventing.coursera.org/redirectSigned/eyJrZXkiOiJlbWFpbC5saW5rLm9wZW4iLCJ2YWx1ZSI6eyJ1cmwiOiJodHRwczovL3d3dy5jb3Vyc2VyYS5vcmcvP3V0bV9tZWRpdW09ZW1haWwmdXRtX3NvdXJjZT1yZWNvbW1lbmRhdGlvbnMmdXRtX2NhbXBhaWduPXJlY29tbWVuZGF0aW9uc0VtYWlsJTdFcmVjc19lbWFpbF8yMDE3XzAxXzI5XzE3JTNBMzIiLCJ0cmFja2luZyI6eyJ1c2VySWQiOjI1MjMxLCJ1c2VyRW1haWwiOiJqemVsYXJAZ21haWwuY29tIiwibm90aWZpY2F0aW9uVHlwZSI6InJlY29tbWVuZGF0aW9uLmZvcl95b3UiLCJjYW1wYWlnbklkIjoicmVjc19lbWFpbF8yMDE3XzAxXzI5XzE3OjMyIiwiY2FtcGFpZ25Hcm91cCI6InJlY29tbWVuZGF0aW9uc0VtYWlsIn19LCJ1c2VySWQiOjI1MjMxfQ.n1ZzRiF7cboHpHjpdjsL2GFqj4W89PonQ8j8snnHZLo&amp;source=gmail&amp;ust=1485842968374000&amp;usg=AFQjCNFWKUAYnQvaFqfn053E8gnlpwVkiA">
                                    <img
                                        src="http://sci-cfp.com/static/cfp/img/logo.png"
                                         style="padding:25px 20px 20px 15px"
                                        class="CToWUd"></a></td>
                                <td class="m_-6551682295176223982stack-column-center" align="middle" valign="middle"><a
                                        href="https://eventing.coursera.org/redirectSigned/eyJrZXkiOiJlbWFpbC5saW5rLm9wZW4iLCJ2YWx1ZSI6eyJ1cmwiOiJodHRwczovL3d3dy5jb3Vyc2VyYS5vcmcvP3V0bV9tZWRpdW09ZW1haWwmdXRtX3NvdXJjZT1yZWNvbW1lbmRhdGlvbnMmdXRtX2NhbXBhaWduPXJlY29tbWVuZGF0aW9uc0VtYWlsJTdFcmVjc19lbWFpbF8yMDE3XzAxXzI5XzE3JTNBMzIiLCJ0cmFja2luZyI6eyJ1c2VySWQiOjI1MjMxLCJ1c2VyRW1haWwiOiJqemVsYXJAZ21haWwuY29tIiwibm90aWZpY2F0aW9uVHlwZSI6InJlY29tbWVuZGF0aW9uLmZvcl95b3UiLCJjYW1wYWlnbklkIjoicmVjc19lbWFpbF8yMDE3XzAxXzI5XzE3OjMyIiwiY2FtcGFpZ25Hcm91cCI6InJlY29tbWVuZGF0aW9uc0VtYWlsIn19LCJ1c2VySWQiOjI1MjMxfQ.n1ZzRiF7cboHpHjpdjsL2GFqj4W89PonQ8j8snnHZLo"
                                        style="text-decoration:none;color:#337ab7;padding-right:8px"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://eventing.coursera.org/redirectSigned/eyJrZXkiOiJlbWFpbC5saW5rLm9wZW4iLCJ2YWx1ZSI6eyJ1cmwiOiJodHRwczovL3d3dy5jb3Vyc2VyYS5vcmcvP3V0bV9tZWRpdW09ZW1haWwmdXRtX3NvdXJjZT1yZWNvbW1lbmRhdGlvbnMmdXRtX2NhbXBhaWduPXJlY29tbWVuZGF0aW9uc0VtYWlsJTdFcmVjc19lbWFpbF8yMDE3XzAxXzI5XzE3JTNBMzIiLCJ0cmFja2luZyI6eyJ1c2VySWQiOjI1MjMxLCJ1c2VyRW1haWwiOiJqemVsYXJAZ21haWwuY29tIiwibm90aWZpY2F0aW9uVHlwZSI6InJlY29tbWVuZGF0aW9uLmZvcl95b3UiLCJjYW1wYWlnbklkIjoicmVjc19lbWFpbF8yMDE3XzAxXzI5XzE3OjMyIiwiY2FtcGFpZ25Hcm91cCI6InJlY29tbWVuZGF0aW9uc0VtYWlsIn19LCJ1c2VySWQiOjI1MjMxfQ.n1ZzRiF7cboHpHjpdjsL2GFqj4W89PonQ8j8snnHZLo&amp;source=gmail&amp;ust=1485842968374000&amp;usg=AFQjCNFWKUAYnQvaFqfn053E8gnlpwVkiA">My Events</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top;padding:25px 8px 15px 8px" bgcolor="#FFFFFF">
                        <table style="border-collapse:collapse;float:left">
                            <tbody>
                            <tr>
                                <td style="padding:0 10px 0 10px" valign="middle"><h1
                                        style="color:#337ab7;font-weight:400;line-height:30px;font-size:26px;text-align:left">
                                    Recommendations for you.</h1></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top;padding:10px 8px 10px 8px" bgcolor="#FFFFFF">
                        <table style="border-collapse:collapse;float:left">
                            <tbody>
                            <tr>
                                <td style="padding:0 10px 0 10px" valign="middle">
                                    <div style="color:#3e3e3e;font-weight:400;line-height:24px;font-size:14px;text-align:left">
                                        We found new events that we think match your interests.
                                        See our recommendations below, and prepare your paper today!
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr style="background-color:#ffffff">
                    <td style="padding:0 15px 0 15px" valign="top"><a
                            href="https://eventing.coursera.org/redirectSigned/eyJrZXkiOiJlbWFpbC5saW5rLm9wZW4iLCJ2YWx1ZSI6eyJ1cmwiOiJodHRwczovL3d3dy5jb3Vyc2VyYS5vcmcvbGVhcm4vcHl0aG9uLW5ldHdvcmstZGF0YT9yZWNvT3JkZXI9MCZ1dG1fbWVkaXVtPWVtYWlsJnV0bV9zb3VyY2U9cmVjb21tZW5kYXRpb25zJnV0bV9jYW1wYWlnbj1yZWNvbW1lbmRhdGlvbnNFbWFpbCU3RXJlY3NfZW1haWxfMjAxN18wMV8yOV8xNyUzQTMyIiwidHJhY2tpbmciOnsidXNlcklkIjoyNTIzMSwidXNlckVtYWlsIjoianplbGFyQGdtYWlsLmNvbSIsIm5vdGlmaWNhdGlvblR5cGUiOiJyZWNvbW1lbmRhdGlvbi5mb3JfeW91IiwiY2FtcGFpZ25JZCI6InJlY3NfZW1haWxfMjAxN18wMV8yOV8xNzozMiIsImNhbXBhaWduR3JvdXAiOiJyZWNvbW1lbmRhdGlvbnNFbWFpbCJ9fSwidXNlcklkIjoyNTIzMX0.I71n58lT37xfLn5Qp_x_VoUut7RztXADR1cmYFYtgmo"
                            target="_blank"
                            data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://eventing.coursera.org/redirectSigned/eyJrZXkiOiJlbWFpbC5saW5rLm9wZW4iLCJ2YWx1ZSI6eyJ1cmwiOiJodHRwczovL3d3dy5jb3Vyc2VyYS5vcmcvbGVhcm4vcHl0aG9uLW5ldHdvcmstZGF0YT9yZWNvT3JkZXI9MCZ1dG1fbWVkaXVtPWVtYWlsJnV0bV9zb3VyY2U9cmVjb21tZW5kYXRpb25zJnV0bV9jYW1wYWlnbj1yZWNvbW1lbmRhdGlvbnNFbWFpbCU3RXJlY3NfZW1haWxfMjAxN18wMV8yOV8xNyUzQTMyIiwidHJhY2tpbmciOnsidXNlcklkIjoyNTIzMSwidXNlckVtYWlsIjoianplbGFyQGdtYWlsLmNvbSIsIm5vdGlmaWNhdGlvblR5cGUiOiJyZWNvbW1lbmRhdGlvbi5mb3JfeW91IiwiY2FtcGFpZ25JZCI6InJlY3NfZW1haWxfMjAxN18wMV8yOV8xNzozMiIsImNhbXBhaWduR3JvdXAiOiJyZWNvbW1lbmRhdGlvbnNFbWFpbCJ9fSwidXNlcklkIjoyNTIzMX0.I71n58lT37xfLn5Qp_x_VoUut7RztXADR1cmYFYtgmo&amp;source=gmail&amp;ust=1485842968375000&amp;usg=AFQjCNH5RgVlAXWcM2jEIPW8-SKVV4sVJg">
                        <table style="float:left;border-width:1px;border-style:solid;border-color:#f2f2f2"
                               cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                            <tr>
                                <td style="padding:15px 15px">
                                    <h1
                                        style="color:#3e3e3e;font-weight:400;line-height:28px;font-size:16px;text-align:left">
                                    ICSOC - International Conference on Service Oriented Computing</h1>
                                    <div style="color:#337ab7;font-weight:400;line-height:22px;font-size:14px;text-align:left">
                                        Malaga, Spain.
                                    </div>
                                    <span style="font-size:12px;color:#337ab7">Submission Deadline: <b>June 6, 2017</b></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </a></td>
                </tr>
                <tr style="background-color:#ffffff">
                    <td style="padding:0 15px 0 15px" valign="top"><a
                            href="https://eventing.coursera.org/redirectSigned/eyJrZXkiOiJlbWFpbC5saW5rLm9wZW4iLCJ2YWx1ZSI6eyJ1cmwiOiJodHRwczovL3d3dy5jb3Vyc2VyYS5vcmcvbGVhcm4vbWwtY2x1c3RlcmluZy1hbmQtcmV0cmlldmFsP3JlY29PcmRlcj0xJnV0bV9tZWRpdW09ZW1haWwmdXRtX3NvdXJjZT1yZWNvbW1lbmRhdGlvbnMmdXRtX2NhbXBhaWduPXJlY29tbWVuZGF0aW9uc0VtYWlsJTdFcmVjc19lbWFpbF8yMDE3XzAxXzI5XzE3JTNBMzIiLCJ0cmFja2luZyI6eyJ1c2VySWQiOjI1MjMxLCJ1c2VyRW1haWwiOiJqemVsYXJAZ21haWwuY29tIiwibm90aWZpY2F0aW9uVHlwZSI6InJlY29tbWVuZGF0aW9uLmZvcl95b3UiLCJjYW1wYWlnbklkIjoicmVjc19lbWFpbF8yMDE3XzAxXzI5XzE3OjMyIiwiY2FtcGFpZ25Hcm91cCI6InJlY29tbWVuZGF0aW9uc0VtYWlsIn19LCJ1c2VySWQiOjI1MjMxfQ.oJxtPdRfI4g01WfFXrh_ll8_LlYy5IT5Qgm73Gin4ws"
                            target="_blank"
                            data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://eventing.coursera.org/redirectSigned/eyJrZXkiOiJlbWFpbC5saW5rLm9wZW4iLCJ2YWx1ZSI6eyJ1cmwiOiJodHRwczovL3d3dy5jb3Vyc2VyYS5vcmcvbGVhcm4vbWwtY2x1c3RlcmluZy1hbmQtcmV0cmlldmFsP3JlY29PcmRlcj0xJnV0bV9tZWRpdW09ZW1haWwmdXRtX3NvdXJjZT1yZWNvbW1lbmRhdGlvbnMmdXRtX2NhbXBhaWduPXJlY29tbWVuZGF0aW9uc0VtYWlsJTdFcmVjc19lbWFpbF8yMDE3XzAxXzI5XzE3JTNBMzIiLCJ0cmFja2luZyI6eyJ1c2VySWQiOjI1MjMxLCJ1c2VyRW1haWwiOiJqemVsYXJAZ21haWwuY29tIiwibm90aWZpY2F0aW9uVHlwZSI6InJlY29tbWVuZGF0aW9uLmZvcl95b3UiLCJjYW1wYWlnbklkIjoicmVjc19lbWFpbF8yMDE3XzAxXzI5XzE3OjMyIiwiY2FtcGFpZ25Hcm91cCI6InJlY29tbWVuZGF0aW9uc0VtYWlsIn19LCJ1c2VySWQiOjI1MjMxfQ.oJxtPdRfI4g01WfFXrh_ll8_LlYy5IT5Qgm73Gin4ws&amp;source=gmail&amp;ust=1485842968375000&amp;usg=AFQjCNER--3ygLp0HRYOQCcRjjbdvvppcw">
                        <table style="float:left;border-width:1px;border-style:solid;border-color:#f2f2f2"
                               cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                            <tr>
                                <td style="padding:15px 15px"><h1
                                        style="color:#3e3e3e;font-weight:400;line-height:28px;font-size:16px;text-align:left">
                                    ICWS - IEEE International Conference on Web Services</h1>
                                    <div style="color:#337ab7;font-weight:400;line-height:22px;font-size:14px;text-align:left">
                                        Hawaii, USA.
                                    </div>
                                    <span style="font-size:12px;color:#337ab7">Submission Deadline: <b>February 6, 2017</b></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </a></td>
                </tr>
                <tr style="background-color:#ffffff">
                    <td style="padding:0 15px 0 15px" valign="top"><a
                            href="https://eventing.coursera.org/redirectSigned/eyJrZXkiOiJlbWFpbC5saW5rLm9wZW4iLCJ2YWx1ZSI6eyJ1cmwiOiJodHRwczovL3d3dy5jb3Vyc2VyYS5vcmcvbGVhcm4vbWwtcmVncmVzc2lvbj9yZWNvT3JkZXI9MiZ1dG1fbWVkaXVtPWVtYWlsJnV0bV9zb3VyY2U9cmVjb21tZW5kYXRpb25zJnV0bV9jYW1wYWlnbj1yZWNvbW1lbmRhdGlvbnNFbWFpbCU3RXJlY3NfZW1haWxfMjAxN18wMV8yOV8xNyUzQTMyIiwidHJhY2tpbmciOnsidXNlcklkIjoyNTIzMSwidXNlckVtYWlsIjoianplbGFyQGdtYWlsLmNvbSIsIm5vdGlmaWNhdGlvblR5cGUiOiJyZWNvbW1lbmRhdGlvbi5mb3JfeW91IiwiY2FtcGFpZ25JZCI6InJlY3NfZW1haWxfMjAxN18wMV8yOV8xNzozMiIsImNhbXBhaWduR3JvdXAiOiJyZWNvbW1lbmRhdGlvbnNFbWFpbCJ9fSwidXNlcklkIjoyNTIzMX0.K8I670CJK6WTz2cfGUa36hjY-Qhll1OoWvR3DKUpK5U"
                            target="_blank"
                            data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://eventing.coursera.org/redirectSigned/eyJrZXkiOiJlbWFpbC5saW5rLm9wZW4iLCJ2YWx1ZSI6eyJ1cmwiOiJodHRwczovL3d3dy5jb3Vyc2VyYS5vcmcvbGVhcm4vbWwtcmVncmVzc2lvbj9yZWNvT3JkZXI9MiZ1dG1fbWVkaXVtPWVtYWlsJnV0bV9zb3VyY2U9cmVjb21tZW5kYXRpb25zJnV0bV9jYW1wYWlnbj1yZWNvbW1lbmRhdGlvbnNFbWFpbCU3RXJlY3NfZW1haWxfMjAxN18wMV8yOV8xNyUzQTMyIiwidHJhY2tpbmciOnsidXNlcklkIjoyNTIzMSwidXNlckVtYWlsIjoianplbGFyQGdtYWlsLmNvbSIsIm5vdGlmaWNhdGlvblR5cGUiOiJyZWNvbW1lbmRhdGlvbi5mb3JfeW91IiwiY2FtcGFpZ25JZCI6InJlY3NfZW1haWxfMjAxN18wMV8yOV8xNzozMiIsImNhbXBhaWduR3JvdXAiOiJyZWNvbW1lbmRhdGlvbnNFbWFpbCJ9fSwidXNlcklkIjoyNTIzMX0.K8I670CJK6WTz2cfGUa36hjY-Qhll1OoWvR3DKUpK5U&amp;source=gmail&amp;ust=1485842968375000&amp;usg=AFQjCNHsOZj3-oGaX5kbqOReFAtnFvckHQ">
                        <table style="float:left;border-width:1px;border-style:solid;border-color:#f2f2f2"
                               cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                            <tr>
                                <td style="padding:15px 15px"><h1
                                        style="color:#3e3e3e;font-weight:400;line-height:28px;font-size:16px;text-align:left">
                                    WWW - International World Wide Web Conference</h1>
                                    <div style="color:#337ab7;font-weight:400;line-height:22px;font-size:14px;text-align:left">
                                        Perth, Australia.
                                    </div>
                                    <span style="font-size:12px;color:#337ab7">Submission Deadline: <b>October 24, 2017</b></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </a></td>
                </tr>
                <tr style="background-color:#ffffff">
                    <td style="padding:0 15px 0 15px" valign="top"><a
                            href="https://eventing.coursera.org/redirectSigned/eyJrZXkiOiJlbWFpbC5saW5rLm9wZW4iLCJ2YWx1ZSI6eyJ1cmwiOiJodHRwczovL3d3dy5jb3Vyc2VyYS5vcmcvbGVhcm4vci1wcm9ncmFtbWluZz9yZWNvT3JkZXI9MyZ1dG1fbWVkaXVtPWVtYWlsJnV0bV9zb3VyY2U9cmVjb21tZW5kYXRpb25zJnV0bV9jYW1wYWlnbj1yZWNvbW1lbmRhdGlvbnNFbWFpbCU3RXJlY3NfZW1haWxfMjAxN18wMV8yOV8xNyUzQTMyIiwidHJhY2tpbmciOnsidXNlcklkIjoyNTIzMSwidXNlckVtYWlsIjoianplbGFyQGdtYWlsLmNvbSIsIm5vdGlmaWNhdGlvblR5cGUiOiJyZWNvbW1lbmRhdGlvbi5mb3JfeW91IiwiY2FtcGFpZ25JZCI6InJlY3NfZW1haWxfMjAxN18wMV8yOV8xNzozMiIsImNhbXBhaWduR3JvdXAiOiJyZWNvbW1lbmRhdGlvbnNFbWFpbCJ9fSwidXNlcklkIjoyNTIzMX0.446uwOaCJdxIV_H6mn--Bnati2Lcg7KDcRU12uC44J4"
                            target="_blank"
                            data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://eventing.coursera.org/redirectSigned/eyJrZXkiOiJlbWFpbC5saW5rLm9wZW4iLCJ2YWx1ZSI6eyJ1cmwiOiJodHRwczovL3d3dy5jb3Vyc2VyYS5vcmcvbGVhcm4vci1wcm9ncmFtbWluZz9yZWNvT3JkZXI9MyZ1dG1fbWVkaXVtPWVtYWlsJnV0bV9zb3VyY2U9cmVjb21tZW5kYXRpb25zJnV0bV9jYW1wYWlnbj1yZWNvbW1lbmRhdGlvbnNFbWFpbCU3RXJlY3NfZW1haWxfMjAxN18wMV8yOV8xNyUzQTMyIiwidHJhY2tpbmciOnsidXNlcklkIjoyNTIzMSwidXNlckVtYWlsIjoianplbGFyQGdtYWlsLmNvbSIsIm5vdGlmaWNhdGlvblR5cGUiOiJyZWNvbW1lbmRhdGlvbi5mb3JfeW91IiwiY2FtcGFpZ25JZCI6InJlY3NfZW1haWxfMjAxN18wMV8yOV8xNzozMiIsImNhbXBhaWduR3JvdXAiOiJyZWNvbW1lbmRhdGlvbnNFbWFpbCJ9fSwidXNlcklkIjoyNTIzMX0.446uwOaCJdxIV_H6mn--Bnati2Lcg7KDcRU12uC44J4&amp;source=gmail&amp;ust=1485842968375000&amp;usg=AFQjCNHACqD54HzUnmPM3dyFv2EtRA13MA">
                        <table style="float:left;border-width:1px;border-style:solid;border-color:#f2f2f2"
                               cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                            <tr>
                                <td style="padding:15px 15px"><h1
                                        style="color:#3e3e3e;font-weight:400;line-height:28px;font-size:16px;text-align:left">
                                    IWQoS - International Workshop on Quality of Service</h1>
                                    <div style="color:#337ab7;font-weight:400;line-height:22px;font-size:14px;text-align:left">
                                        Barcelona, Spain.
                                    </div>
                                    <span style="font-size:12px;color:#337ab7">Submission Deadline: <b>February 23, 2017</b></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </a></td>
                </tr>
                <tr style="border:0px none" bgcolor="#FFFFFF">
                    <td style="padding:15px 15px 15px 15px" valign="top">
                        <table style="float:left" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                            <tr>
                                <td class="m_-6551682295176223982stack-column" align="center" valign="middle">
                                    <a href="/cfp/signup" style="padding-bottom: 15px; padding-top: 15px; line-height: 20px; display: block; position: relative; display: inline-block !important; padding: 20px 30px !important; margin-bottom: 8px; margin-top: 8px; background-color: #5bc0de; border-color: #46b8da; color: #fff; -moz-user-select: none; background-image: none; border-radius: 4px; cursor: pointer; font-size: 14px; font-weight: 400; text-align: center; vertical-align: middle; white-space: nowrap; text-decoration: none; font-size: 16px !important; font-weight: 400 !important;" role="button">Browse More Events</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="height:1px" bgcolor="#F2F2F2"></td>
                </tr>
                <tr style="background-color:#ffffff">
                    <td style="padding:15px 15px 0px 15px" valign="top">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                            <tr>
                                <td class="m_-6551682295176223982stack-column" style="font-size:14px" align="left"
                                    valign="middle"><!--span style="color:#3e3e3e">Download our App:&nbsp;&nbsp;</span><a
                                        href="https://eventing.coursera.org/redirectSigned/eyJrZXkiOiJlbWFpbC5saW5rLm9wZW4iLCJ2YWx1ZSI6eyJ1cmwiOiJodHRwczovL2l0dW5lcy5hcHBsZS5jb20vYXBwL2FwcGxlLXN0b3JlL2lkNzM2NTM1OTYxP2N0PU1vYmlsZSUyMFByb21vJTIwRW1haWwmdXRtX3NvdXJjZT1yZWNvbW1lbmRhdGlvbnMmbXQ9OCZwdD0yMzM0MTUwJnV0bV9jYW1wYWlnbj1yZWNvbW1lbmRhdGlvbnNFbWFpbCU3RXJlY3NfZW1haWxfMjAxN18wMV8yOV8xNyUzQTMyJnV0bV9tZWRpdW09ZW1haWwiLCJ0cmFja2luZyI6eyJ1c2VySWQiOjI1MjMxLCJ1c2VyRW1haWwiOiJqemVsYXJAZ21haWwuY29tIiwibm90aWZpY2F0aW9uVHlwZSI6InJlY29tbWVuZGF0aW9uLmZvcl95b3UiLCJjYW1wYWlnbklkIjoicmVjc19lbWFpbF8yMDE3XzAxXzI5XzE3OjMyIiwiY2FtcGFpZ25Hcm91cCI6InJlY29tbWVuZGF0aW9uc0VtYWlsIn19LCJ1c2VySWQiOjI1MjMxfQ.eHR2PvOF-XYXNjEEg1AABu9xHzfGZ-QzD9FVH1fDwnY"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://eventing.coursera.org/redirectSigned/eyJrZXkiOiJlbWFpbC5saW5rLm9wZW4iLCJ2YWx1ZSI6eyJ1cmwiOiJodHRwczovL2l0dW5lcy5hcHBsZS5jb20vYXBwL2FwcGxlLXN0b3JlL2lkNzM2NTM1OTYxP2N0PU1vYmlsZSUyMFByb21vJTIwRW1haWwmdXRtX3NvdXJjZT1yZWNvbW1lbmRhdGlvbnMmbXQ9OCZwdD0yMzM0MTUwJnV0bV9jYW1wYWlnbj1yZWNvbW1lbmRhdGlvbnNFbWFpbCU3RXJlY3NfZW1haWxfMjAxN18wMV8yOV8xNyUzQTMyJnV0bV9tZWRpdW09ZW1haWwiLCJ0cmFja2luZyI6eyJ1c2VySWQiOjI1MjMxLCJ1c2VyRW1haWwiOiJqemVsYXJAZ21haWwuY29tIiwibm90aWZpY2F0aW9uVHlwZSI6InJlY29tbWVuZGF0aW9uLmZvcl95b3UiLCJjYW1wYWlnbklkIjoicmVjc19lbWFpbF8yMDE3XzAxXzI5XzE3OjMyIiwiY2FtcGFpZ25Hcm91cCI6InJlY29tbWVuZGF0aW9uc0VtYWlsIn19LCJ1c2VySWQiOjI1MjMxfQ.eHR2PvOF-XYXNjEEg1AABu9xHzfGZ-QzD9FVH1fDwnY&amp;source=gmail&amp;ust=1485842968379000&amp;usg=AFQjCNEVCb6lYVKNUoKBhj-XP62ieWEjKw">iOS</a><span
                                        style="color:#3e3e3e">&nbsp;&nbsp;|&nbsp;&nbsp;</span><a
                                        href="https://eventing.coursera.org/redirectSigned/eyJrZXkiOiJlbWFpbC5saW5rLm9wZW4iLCJ2YWx1ZSI6eyJ1cmwiOiJodHRwczovL3BsYXkuZ29vZ2xlLmNvbS9zdG9yZS9hcHBzL2RldGFpbHM_aWQ9b3JnLmNvdXJzZXJhLmFuZHJvaWQmdXRtX21lZGl1bT1lbWFpbCZ1dG1fc291cmNlPXJlY29tbWVuZGF0aW9ucyZ1dG1fY2FtcGFpZ249cmVjb21tZW5kYXRpb25zRW1haWwlN0VyZWNzX2VtYWlsXzIwMTdfMDFfMjlfMTclM0EzMiIsInRyYWNraW5nIjp7InVzZXJJZCI6MjUyMzEsInVzZXJFbWFpbCI6Imp6ZWxhckBnbWFpbC5jb20iLCJub3RpZmljYXRpb25UeXBlIjoicmVjb21tZW5kYXRpb24uZm9yX3lvdSIsImNhbXBhaWduSWQiOiJyZWNzX2VtYWlsXzIwMTdfMDFfMjlfMTc6MzIiLCJjYW1wYWlnbkdyb3VwIjoicmVjb21tZW5kYXRpb25zRW1haWwifX0sInVzZXJJZCI6MjUyMzF9.Z6ks_I1ZwN54b1F0pXTktSi1phVjYhJNYdN8UzRQojo"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://eventing.coursera.org/redirectSigned/eyJrZXkiOiJlbWFpbC5saW5rLm9wZW4iLCJ2YWx1ZSI6eyJ1cmwiOiJodHRwczovL3BsYXkuZ29vZ2xlLmNvbS9zdG9yZS9hcHBzL2RldGFpbHM_aWQ9b3JnLmNvdXJzZXJhLmFuZHJvaWQmdXRtX21lZGl1bT1lbWFpbCZ1dG1fc291cmNlPXJlY29tbWVuZGF0aW9ucyZ1dG1fY2FtcGFpZ249cmVjb21tZW5kYXRpb25zRW1haWwlN0VyZWNzX2VtYWlsXzIwMTdfMDFfMjlfMTclM0EzMiIsInRyYWNraW5nIjp7InVzZXJJZCI6MjUyMzEsInVzZXJFbWFpbCI6Imp6ZWxhckBnbWFpbC5jb20iLCJub3RpZmljYXRpb25UeXBlIjoicmVjb21tZW5kYXRpb24uZm9yX3lvdSIsImNhbXBhaWduSWQiOiJyZWNzX2VtYWlsXzIwMTdfMDFfMjlfMTc6MzIiLCJjYW1wYWlnbkdyb3VwIjoicmVjb21tZW5kYXRpb25zRW1haWwifX0sInVzZXJJZCI6MjUyMzF9.Z6ks_I1ZwN54b1F0pXTktSi1phVjYhJNYdN8UzRQojo&amp;source=gmail&amp;ust=1485842968380000&amp;usg=AFQjCNHZZhIIXtS6_1GgGjDndlXyqOybmw">Android</a-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr style="background-color:#ffffff">
                    <td style="padding:5px 15px 15px 15px" valign="top">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                            <tr>
                                <td class="m_-6551682295176223982stack-column" style="font-size:14px" align="left"
                                    valign="middle">Please do not reply to this email</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
