    {% extends 'cfp/base.html' %}
    {% load staticfiles %}

    {% block banner %}
    <link rel="stylesheet" type="text/css" href="{% static 'cfp/css/magicsuggest-min.css' %}" />
    <script src="{% static 'cfp/js/magicsuggest-min.js' %}"></script>
    <br>
    <br>
    {% endblock %}

    {% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="background-color: #fff; padding: 50px; border: 1px solid #ccc;">
            <form class="form-signup" action="{% url 'cfp:profile' %}" method="POST">
                {% csrf_token %}
                <div class="page-header">
                    <h1>Profile</h1>
                </div>
                {% if signup_error %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{signup_error}}
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="first_name">Name*</label>
                    <input name="first_name" type="text" class="form-control" id="first_name" placeholder="Name" autocomplete="off" value="{{ user.first_name }}" required>
                </div>
                <!--div class="form-group">
                    <label for="last_name">Surname</label>
                    <input name="last_name" type="text" class="form-control" id="last_name" placeholder="Surname" autocomplete="off">
                </div-->
                <div class="form-group">
                    <label for="email">Email*</label>
                    <input name="email" type="text" class="form-control" id="email" placeholder="Email" autocomplete="off" maxlength="30" value="{{ user.email }}" required>
                </div>
                <div class="form-group">
                    <label for="tags">Topics*</label>
                    <input name="tags" type="text" class="form-control" id="tags" placeholder="Topics of Interest" value="{{ interests }}" required>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#tags").magicSuggest({
                allowFreeEntries: false,
                maxSelection: 20,
                data: '/cfp/getcategories',
                valueField: 'id',
                displayField: 'title',
                resultsField: 'categories'
            });
        });
    </script>
    {% endblock %}