    {% extends 'cfp/base.html' %}
    {% load staticfiles %}

    {% block content %}
    <!--<link rel="stylesheet" type="text/css" href="{% static 'cfp/css/signup.css' %}" />-->
    <div class="row">



        <nav>
        <ul class="pager">
            {% if events.has_previous %}
            <li class="previous"><a href="?page={{ events.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
            {% endif %}
            {% if events.has_next %}
            <li class="next"><a href="?page={{ events.next_page_number }}">Next <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
        </ul>
        </nav>


        {% for event in events %}
        <div class="col-md-6">
          <div class="featured-article">
    				<a href="/cfp/event/{{ event.id }}">
    					<img src="{{ event.image }}" alt="" class="thumb">
    				</a>
    				<div class="block-title">
              <a href="/cfp/event/{{ event.id }}">
      					<h5>{{ event.acronym }} - {{ event.title_event }}</h5>
      					<p class="by-author"><small>Deadline: {{ event.submission_deadline|date:"M. d, Y" }}</small></p>
              </a>
    				</div>
            <div class="block-location">
              <a href="/cfp/event/{{ event.id }}">
      				  <h1>{{ event.location }}</h1>
              </a>
              <p><small></small></p>
    				</div>
    			</div>
        </div>
        {% endfor %}


        <nav>
        <ul class="pager">
            {% if events.has_previous %}
            <li class="previous"><a href="?page={{ events.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
            {% endif %}
            {% if events.has_next %}
            <li class="next"><a href="?page={{ events.next_page_number }}">Next <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
        </ul>
        </nav>
        <!--<div class="table-responsive">
            <table class="table">
                {% if data %}
                    {% for event in data %}
                    <tr class="active">
                        <td class="active">{{event.id}}</td>
                        <td class="active">{{event.location}}</td>

                    </tr>
                    {% endfor %}
                {% endif %}

            </table>
        </div>-->
    {% endblock %}